/* GENERAL */
body{
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  overflow-x: hidden !important;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  
}

img{
  max-width: 50%;
  height: auto;
}

section .heading{
  text-align: center;
  padding-bottom: 40px;
}

section{
  
  padding: 45px 0 80px 0;
}

.red-divider{
  background: #d82c2e;
  height: 2px;
  width: 100px;
  margin: 0 auto;
}
.grey-divider{
  background: #696969;
  height: 2px;
  width: 100px;
  margin: 0 auto;
}

.white-divider{
  background: #fff;
  height: 2px;
  width: 100px;
  margin: 0 auto;
}