/* FOOTER*/

footer{
    background: #333;
    padding: 20px 0 40px;
    height: 200px;
    
    width: 100%;
}

footer .glyphicon{
    font-size: 25px;
    margin:20px;
    color: #d82c2e;
    height: 30px; 
}


footer .glyphicon:hover{
    font-size: 27px;
}

footer h5{
    color: #fff;
    
}