/* PORTFOLIO */
#portfolio{
    background-color: #d82c2e;
}

#portfolio .heading h2{
    text-transform: uppercase;
    color: #fff;
}

#portfolio .thumbnail img{
    
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transform:2s;
   
}


#portfolio .thumbnail img:hover{
    filter: none;
    -webkit-filter: none;
    
}
